/* inter-latin-300-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('/fonts/inter-latin-300-normal.woff2') format('woff2');
}

/* inter-latin-400-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/fonts/inter-latin-400-normal.woff2') format('woff2');
}

/* inter-latin-500-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/fonts/static/inter-latin-500-normal.woff2') format('woff2');
}

/* inter-latin-600-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('/fonts/static/inter-latin-600-normal.woff2') format('woff2');
}

/* inter-latin-700-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('/fonts/static/inter-latin-700-normal.woff2') format('woff2');
}